In [1]:
import pandas as pd
import os

folder_path = r'D:\Datasets'

# Specify the file name
file_name = 'yelp_academic_dataset_user.csv'

file_path = os.path.join(folder_path, file_name)

df_users = pd.read_csv(file_path, nrows = 10000)

In [2]:
df_users.head(5)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,NaN,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [3]:
file_name_review = 'yelp_academic_dataset_review.csv'

file_path_review = os.path.join(folder_path, file_name_review)

df_review = pd.read_csv(file_path_review, nrows = 10000)

In [4]:
df_review.head(5)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [5]:
file_name_business = 'yelp_dataset_dataset_business_clean_withoriginalfeature.csv'

file_path_business = os.path.join(folder_path, file_name_business)
# load  the datasett
df_business = pd.read_csv(file_path_business, nrows = 10000)
# create new binary columns based on the level of restaurants price
df_dummies = pd.get_dummies(df_business['RestaurantsPriceRange2'], prefix='PriceRange')

# Concatenate the dummy variables with the original DataFrame
df_business = pd.concat([df_business, df_dummies], axis=1)

In [6]:
df_business.head(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,name_encoded,address_encoded,city_encoded,state_encoded,postal_code_encoded,PriceRange_0,PriceRange_1,PriceRange_2,PriceRange_3,PriceRange_4
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,...,81906,98814,5,13,865,1,0,0,0,0
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,73621,102520,802,16,260,0,1,0,0,0
2,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,...,59703,2428,397,16,130,1,0,0,0,0
3,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,...,72302,82344,27,18,621,0,1,0,0,0
4,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,38.627695,-90.340465,2.5,13,...,27876,98191,105,13,885,0,0,1,0,0

In [7]:
df_sorted = df_users.sort_values(by='review_count', ascending=False)
df_sorted

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
4723,hWDybu_KvYLSdEFzGrniTw,Bruce,16567,2009-03-08 21:47:44,173089,98459,144849,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...","sZ0Qxjn12H8jjHBPLQW32w, Lkk3DqzhvqwpiQKwwAyZcw...",867,...,586,541,34,76,2466,5264,6728,6728,5811,2224
152,P5bUL3Engv-2z6kKohB6qQ,Kim,9941,2006-05-31 21:27:42,27549,10772,21375,"2006,2007,2008,2009,2010,2011,2012,2013,2014,2...","hfY2Soz8LWSA0oRVcYuRmg, Y6_gZa4jVXv0d4qiMbbycw...",825,...,130,113,47,34,511,1073,1199,1199,482,252
3977,nmdkHL2JKFx55T3nq5VziA,Nijole,8363,2011-11-29 15:50:53,57242,28960,46435,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...","TAc2-YzVKBLPvPhUV3_1vw, LK1LOOqwJBAPF85e5p2cQg...",921,...,69,23,20,6,340,742,742,742,487,678
7394,8RcEwGrFIgkt9WQ35E6SnQ,George,7738,2009-11-06 22:53:16,8110,3868,3165,"2010,2011","NO2sCw8wC8piNMyRpt0pgA, _Y9mKwyNGD_pJOhN88xOoA...",288,...,23,7,4,14,140,229,98,98,68,81
1229,CxDOIDnH8gp9KXzpBHJYXw,Jennifer,6679,2009-11-09 20:44:45,23254,9326,14773,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ahXJ4DktihtIc7emzuyK7g, Bf-X9oxiiRvzgrwguUWoeg...",828,...,195,38,69,92,1382,3757,1692,1692,480,1581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7052,V0gWGxp9euylW-fZyZjNug,Mark,1,2010-07-02 02:31:20,3,1,3,NaN,"HEMs99O_nHd9n-9ChHY5BQ, 8oXgR8m36Xeg8Zwz7d1Cwg...",0,...,0,0,0,0,0,0,0,0,0,0
2256,m8AwooeN_3mgTj5Q8eGhmg,William,1,2011-10-31 00:21:38,0,0,0,NaN,"a4vnvBKY1y9oyDkZU_Be0A, tLbjSPxTr890XEOWzBpbAw...",0,...,0,0,0,0,1,0,0,0,0,1
9973,tkBYtqaQzxT9CXxFNHBRQw,Tina,1,2011-07-09 14:38:24,0,0,0,NaN,"SPeWh0FumtZNV2A4HiR6ZA, APU-rwL5Q1Q5KhQYDJXBWQ...",0,...,1,0,0,0,0,0,0,0,0,0
3982,KY2LdCTYwfxaj6dHzVgDLQ,Nikki,1,2010-07-12 21:29:57,1,0,0,NaN,"RhTjT9yuRzCe6kaDmuD4LQ, 1j34goPBHOAPGEzN3LThHg...",0,...,0,0,0,0,0,0,0,0,0,0
8228,tPKcJdtMZsryLHvhnvF6GQ,Chris,1,2009-05-27 22:08:58,4,0,0,NaN,"DnvC-m22fZqZv3pAo16ZSg, 48ufalTXQg1InFtYCDuOLQ...",0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# get users historical perference
filtered_review = df_review[df_review['user_id'] == 'OyoGAe7OKpv6SyGZT5g77Q']

In [13]:
filtered_review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18